user_uuid = "50150e67-0388-4558-a245-d27a9aa324b8"
bucket_name="zjovw79wc9wklt09ujxsvo64lh120wi5"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"